<!DOCTYPE html>
<html lang="%CONFIGLANG%">
    <head>
        <title>%URL_PATH=auth/signup%%LANG=Account,signup%%END%%URL_PATH=auth/login%%LANG=Account,login%%END%</title>
        %META_AUTHOR=%LANG=Project,author%%
        %META_CHARSET=UTF-8%
        %META_DESCRIPTION=%LANG=Install,description%%
        %META_VIEWPORT%
        %HEAD%
    </head>
    <body>
        %URL_PATH=auth/signup%
            %FORM=class:nw_signup nw_auth_form%
                %ROW%
                    %COL%
                        %TITLE=value:Account,signup%
                %ROW%
                    %COL%
                        %text=name:fname;required:true%
                    %COL%
                        %text=name:lname;required:true%
                %ROW%
                    %COL%
                        %text=name:email;required:true%
                    %COL%
                        %text=name:username;required:true%
                %ROW%
                    %COL%
                        %password=name:psw;required:true;measure:true%
                    %COL%
                        %password=name:cpsw;required:true%
                %ROW%
                    %COL%
                        %recaptcha=value:submit%
                %ROW%
                    %COL=class:text-end%
                        %button=name:signup;type:submit;class:btn-success mt-2 w-100 fs-4;disabled:true;link:;%
                    %COL=class:text-center%
                        %button=name:login;type:button;class:btn-dark mt-2 w-100 fs-4;link:./login;%
                    %COL%
                        %button=name:back;type:button;class:btn-warning mt-2 w-100 fs-4;link:../;%
            %ENDFORM%
        %END%
        %URL_PATH=auth/login%
            %FORM=class:nw_login nw_auth_form%
                %ROW%
                    %COL%
                        %TITLE=value:Account,login%
                %ROW%
                    %COL%
                        %text=name:usernameEmail;required:true%
                %ROW%
                    %COL%
                        %password=name:psw;required:true%
                %ROW%
                    %COL%
                        %button=name:login;type:submit;class:btn-success mt-2 w-100 fs-4;link:;%
                    %COL%
                        %button=name:signup;type:button;class:btn-dark mt-2 w-100 fs-4;link:./signup;%
                    %COL%
                        %button=name:back;type:button;class:btn-warning mt-2 w-100 fs-4;link:../;%
            %ENDFORM%
        %END%
        %FOOTERJS%
        %AFTERLOAD%
    </body>
</html>