<div class="row">   
    %IS_ADMIN%
        <div class="col">
            <canvas class="nw_status_charts" id="nw_users"></canvas>
        </div>
    %END%
    <div class="col">
        <canvas class="nw_status_charts" id="nw_posts"></canvas>
    </div>
</div>
<div class="row">
    <h2 class="text-center"><span class="text-primary">%LANG=Dashboard,memory% (%MEMORY=true%/%MEMORY_AVAILABLE=true%)</span></h2>
    <h2 class="text-center"><span class="text-secondary">%LANG=Dashboard,storage% (%STORAGE=true%/%STORAGE_AVAILABLE=true%)</span></h2>
    <div class="progress-stacked ps-0">
        <div class="progress" role="progressbar" aria-label="storage" aria-valuenow="%MEMORY_TOTAL%" aria-valuemin="0" aria-valuemax="%MEMORY_AVAILABLE%" style="width: %MEMORY_TOTAL%%">
            <div class="progress-bar bg-primary progress-bar-striped progress-bar-animated"></div>
        </div>
        <div class="progress" role="progressbar" aria-label="storage" aria-valuenow="%STORAGE_TOTAL%" aria-valuemin="0" aria-valuemax="%MEMORY%" style="width: %STORAGE_TOTAL%%">
            <div class="progress-bar bg-secondary progress-bar-striped progress-bar-animated"></div>
        </div>
    </div>
</div>