<!DOCTYPE html>
<html lang="%CONFIGLANG%">
    <head>
        <title>%LANG=Dashboard,title% - %WEBTITLE%</title>
        %META_AUTHOR=%LANG=Project,author%%
        %META_CHARSET=UTF-8%
        %META_DESCRIPTION=%LANG=Install,description%%
        %META_VIEWPORT%
        %HEAD%
    </head>
    <body>
        <div class="container-fluid h-100 w-100 mx-0 px-0">
            <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container-fluid">
                    <a class="navbar-brand" href="%PATH=NW_ROOT%">%LANG=Project,name%</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nwDashboardNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="nwDashboardNav">
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                                <div class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                    %LANG=Dashboard,title%
                                </div>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="%PATH=NW_ROOT%/dashboard"><img src="https://cdn-icons-png.flaticon.com/512/8899/8899687.png" class="nw_dashboard_ico"/> %LANG=Dashboard,title%</a></li>
                                    <li><a class="dropdown-item" href="%PATH=NW_ROOT%/dashboard/profile"><img src="%FILE_EXISTS=%PATH=NW_UPLOADS%/profile/%USERNAME%.png%%PATH=NW_UPLOADS%/profile/%USERNAME%.png%END%%ELSE%https://cdn-icons-png.flaticon.com/512/3177/3177440.png%END%" class="nw_dashboard_ico"/> %LANG=Dashboard,profile,title%</a></li>
                                    %IS_ADMIN%
                                    <li><a class="dropdown-item" href="%PATH=NW_ROOT%/dashboard/config"><img src="https://cdn-icons-png.flaticon.com/512/3953/3953226.png" class="nw_dashboard_ico"/> %LANG=Dashboard,config,title%</a></li>
                                    <li><a class="dropdown-item" href="%PATH=NW_ROOT%/dashboard/plugins"><img src="https://cdn-icons-png.flaticon.com/512/4370/4370906.png" class="nw_dashboard_ico"/> %LANG=Dashboard,plugins,title%</a></li>
                                    %END%
                                </ul>
                            </li>
                        </ul>
                        <div class="d-flex ms-auto">
                            <button class="btn btn-danger" id="nwlogout">%LANG=Account,logout%</button>
                        </div>
                    </div>
                </div>
            </nav>
            <div class="nwcontent mx-2">
                %BEFOREMAIN%
                %URL_PATH=dashboard%
                    <div class="row">   
                        %IS_ADMIN%
                            <div class="col">
                                <canvas class="nw_status_charts" id="nw_users"></canvas>
                            </div>
                        %END%
                        <div class="col">
                            <canvas class="nw_status_charts" id="nw_posts"></canvas>
                        </div>
                    </div>
                    
                %END%
                %URL_PATH=dashboard/profile%

                %END%
                %URL_PATH=dashboard/plugins%
                    %RENDER_PLUGIN_LIST%
                %END%
                %AFTERMAIN%
            </div>
        </div>
        %FOOTERJS%
        %AFTERLOAD%
        <script>$(document).ready(()=>{if(!Cookie.check('user')) window.location.href = './auth/login';});</script>
    </body>
</html>