<!DOCTYPE html>
<html lang="%PAGELANG%">
    <head>
        <title>%LANG=Errors,%DOCERROR%% - %WEBTITLE%</title>
        %META_CHARSET=UTF-8%
        %META_VIEWPORT%
        %HEAD%
    </head>
    <body class="position-relative">
        <div class="position-absolute top-50 start-50 translate-middle container-fluid sysError">
            <h1 class="text-center sysErrorCode animate-flip-horz-top animate-dir-alt">%DOCERROR%</h1>
            <h3 class="text-center sysErrorMsg">%LANG=Errors,%DOCERROR%%</h3>
        </div>
        %FOOTERJS%
        %AFTERLOAD%
    </body>
</html>