<!DOCTYPE html>
<html lang="%CONFIGLANG%">
    <head>
        <title>%LANG=Home,title% - %WEBTITLE%</title>
        %META_AUTHOR=%LANG=Project,author%%
        %META_CHARSET=UTF-8%
        %META_DESCRIPTION=%LANG=Install,description%%
        %META_VIEWPORT%
        %HEAD%
    </head>
    <body>
        %BEFORELOAD%
        <nav class="navbar navbar-expand-lg nw-home-nav">
            <div class="container-fluid">
                <a class="navbar-brand fw-bold" href="#">
                    <img src="%PATH=NW_ASSETS%/icons/logo.webp" 
                    alt="networks_icon" 
                    width="64" 
                    height="64" 
                    class="d-inline-block object-fit-fill img-fluid rounded"
                    srcset="%PATH=NW_ASSETS%/icons/logo_small.webp 150w, 
                    %PATH=NW_ASSETS%/icons/logo_medium.webp 250w,
                    %PATH=NW_ASSETS%/icons/logo.webp 360w"
                    sizes="(max-width: 768px) 150px, (max-width: 1200px) 250px, 360px"/>
                    NetWorks
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#networkhomenav" aria-controls="networksContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="networkhomenav">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        %LISTPAGES%
                    </ul>
                    <ul class="list-group list-group-horizontal useraction">
                        <li class="list-group-item border-0">
                            <a class="nav-link" aria-current="page" href="./auth/signup"><i class="material-symbols-rounded">person_add</i> %LANG=Account,signup%</a>
                        </li>
                        %USER_IS_ONLINE%
                        <li class="list-group-item border-0">
                            <a class="nav-link" aria-current="page" href="./dashboard"><i class="material-symbols-rounded">dashboard</i> %LANG=Dashboard,title%</a>
                        </li>
                        %END%
                        %USER_IS_OFFLINE%
                        <li class="list-group-item border-0">
                            <a class="nav-link" aria-current="page" href="./auth/login"><i class="material-symbols-rounded">login</i> %LANG=Account,login%</a>
                        </li>
                        %END%
                    </ul>
                </div>
            </div>
        </nav>

        %FOOTERJS%
        %AFTERLOAD%
    </body>
</html>