<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><lang>title|projectName</lang></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nw-navbar" aria-controls="nw-navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="nw-navbar">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <page href="./" icon="home">home</page>
                <page href="./forum" icon="forum">forum</page>
                <hook>pageNav</hook>
                <page href="./auth/signup" icon="person_add">signup</page>
                <isloggedin>
                    <page href="./dashboard" icon="dashboard">dashboard</page>
                </isloggedin>
                <isloggedout>
                    <page href="./auth/login" icon="login">login</page>
                </isloggedout>
            </ul>
        </div>
    </div>
</nav>