@import url('./reset.css');
.login-form{
    max-height: 100%;
    padding: .25rem;
    display: flex;
    height: 100%;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.login-form > .row{
    max-width: 50%;
    width: 100%;
}
.login-form h1{
    text-align: center;
    font-size: 2.5em;
}