*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -moz-user-focus: none;
}
html,body{
    width: 100vw;
    height: 100vh;
    position: relative;
}
body{
    overflow-x: hidden;
}
:root,
:host{
    /*Utils*/
    --nw-spacer: 1rem;
    /*Home*/
    --nw-home-nav-list-hover: rgba(166, 223, 241, 0.7);
    --nw-home-nav-bg: rgba(49, 131, 183,0.86);
    --nw-home-nav-color: #1c2534;
    --nw-home-nav-color-active: #0c0c0c;
    /*Installation*/
    --nw-install-bg: rgb(94, 143, 217,.8);
    --nw-intall-form-title: #5e5959;
    --nw-install-form-subtitle: #2b3a3f;
    /*Authorization*/
    --nw-auth-bg: rgba(128, 177, 199, 0.85);
    --nw-auth-color: #444444;
    /*Form*/
    --nw-form-error: #c52121;
    /*Dashboard*/
    --nw-dashboard-dropdown-bg: #c4c4c4;
}
.color-picker-ui{
    height: auto;
}

.g-recaptcha{
    overflow-x: auto;
    overflow-y: hidden;
    border-radius: 5px;
    width: 304px;
}
/* Password */
.psw_container{
    position: relative;
    padding: 0;
    width: 100%;
}
.psw_container .showPsw{
    position: absolute;
    top:50%;
    right:2%;
    transform: translateY(-50%);
    font-size: 18px;
    cursor: pointer;
}